@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
/*font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;*/

* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

body {
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background: #f2f2f2;
	font-size: 16px;
}

header, footer {
	background: #3A4010;
	color: #f2d8c2;
	padding: .75em;
}

a {
	text-decoration: none;
}

nav a {
	display: inline;
	margin: 0 2em;
	font-size: 1.5em;
	letter-spacing: .05em;
}

nav a:link, nav a:visited, footer a:link, footer a:visited { 
	color: #f2d8c2; 
}

nav a:hover, footer a:hover {
	color: #f2f2f2;
}

nav a:active, footer a:active {
	color: #d9d9d9;
}

ul {
	list-style-type: none;
}

footer li {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

img {
	width: 20em;
}

p {
	line-height: 1.5em;
}

#logo {
	font-size: 2em;
	font-weight: semi-bold;
}

.highlight {
	padding: 12em 2em;
	background: url("../images/pastel-wall.jpg");
	background-size: cover;
	color: #0d0d0d;
}

.highlight div {
	text-align: left;
	width: 600px;
	margin: auto;
}

.featured-callout {
	background: #f2d8c2;
	color: black;
	padding: 5em;
}

.highlight a, .featured-callout a {
	background-color: #3A4010;
	color: #f2f2f2;
	padding: 1em 1.5em;
	display: inline-block;
}

/*Don't technically need this, because it is the same as the original button color.
It needs to appear above hover, because then you need to have the button inherit the hover color which would need to come later on the list
.highlight a:visited, .featured-callout a:visited {
	background-color: #3A4010;
}*/

.highlight a:hover, .featured-callout a:hover {
	background-color: #49590e;
}

.highlight a:active, .featured-callout a:active {
	background-color: #3A4010;
}

#slogan {
	font-size: 1.75em;
	font-style: italic;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

section, div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
